// Specific CSS for your home-page

h3 {
  font-family: "Optima";
  color: #3F3D56;
}

h1{
  font-family: "Optima";
  color: #3F3D56;
}

p{
  font-family: "Optima";
  font-size: 20px;
}


h2{
  font-family: Montserrat;
  font-size: 34px;
  padding-top: 40px;
  text-align: center;
}
.cardero{
  justify-content: center;
}
.cardero img{
  width: 66px;
  height: 66px;
  margin-top: 20px;
}

.buttons3 img{
  width: 106px;
  height: 46px;
  margin-top: -140px;
  margin-left: 60px;
  filter: contrast(200%);
}
.analyse img{
  width: 46px;
  height: 30px;
  margin-top: -160px;
  margin-left: -240px;
  filter: contrast(200%);
}

.explore img{
  width: 86px;
  height: 86px;
  margin-top: -240px;
  margin-left: -150px;
  filter: contrast(200%);

}

.middle-cover .vertical-line{
    position: absolute;
    left: 50%;
    top: -10px;
    width: 2px;
    height: 80px;
    background-color: #51a9ab;
}
.other-actions .horizontal-line{
    width: 80px;
    height: 2px;
    background-color: white;
    margin-left: 720px;

}
.number{
    position: absolute;
    top: -30px;
    line-height: 1;
    color: #eaebed;
    opacity: 0.5;
    font-size: 8em;
    z-index: 0;
    font-weight: 700;
    margin-top: 110px;
    margin-left: -110px;
}
.low .number{
    position: absolute;
    top: -30px;
    line-height: 1;
    color: white;
    opacity: 0.3;
    font-size: 8em;
    z-index: 0;
    font-weight: 700;
    margin-top: 100px;
    padding-left: 500px;
}
.lowo .number{
  margin-left: -170px;
  margin-top: 90px;
  color: grey;
  opacity: 0.1;
   }

.containery{
  background: #f4f5f6;
  background: -webkit-gradient(linear,left top,left bottom,from(#f4f5f6),to(#fff));
  background: linear-gradient(180deg,#f4f5f6 0,#fff);
}
.card1{
  background: linear-gradient(10deg,#FFE7A0 10%,#FFD454 40%,#FFC107 54%);
  height: 635px;
}


.card-pic-comment1 p{
  color: white;
  font-size: 20px;
  margin-left: 70px;
  margin-top: -10px;
}

.card-pic-comment2 {
  margin-top: -100px;
}

.card-pic-comment2 p{
  font-size: 20px;
  color: #3F3D56;
  margin-top: -15%;
  padding-left: 27%;
}

.card-description1 h1{
position: flex;
text-align: center;
margin-top: 80px;
margin-left: -250px;
color: #3F3D56;
}

.card-description1 p{
text-align: center;
font-size: 30px;
color: white;
margin-left:-250px;
}

.card-description2{
text-align: left;
text-align: center;
font-size: 20px;
margin-top: 50px;
}

.buttons1{

  position: absolute;
  margin-left: 100px;
  margin-top: 50px;


}
.btn21{
  background: #3F3D56;
  color: white;
  margin-left: 40px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;

}

.btn21:hover {
  color: #3F3D56;
  background: white;
  font-weight: bold;
  border-color: #3F3D56;
  text-decoration: none;
}


.card2{
  background: #D8D9DA;
  background: -webkit-gradient(linear,left top,left bottom,from(#D8D9DA),to(#fff));
  background: linear-gradient(180deg,#D8D9DA 0,#fff);
  margin-bottom: 60px;

  }

.buttons2{
  position: absolute;
  margin-left: 450px;
  margin-top: 83px;

}

.description3{
  margin-top: 60px;
}

.description3 h3{
  margin-top: 150px;
  margin-left: 30px;
}

.description3 p{

  margin-left: -70px;
}


.description4{
  text-align: center;
  margin-left: 40px;
  margin-top: 150px;
}
.description4 h3{

  margin-right: 80px;
}

.description5{
  text-align: center;
  margin-left: 20px;
  margin-top: 200px;
}

.description5 h3{
  text-align: center;
  margin-left: -60px;
  margin-top: -60px;
}
.description5 p{
  text-align: center;
  margin-left: -80px;
  margin-top: 20px;
}

.description6 p{

  margin-top: 80px;
  font-size: 24px;
  margin-left: 210px;
  margin-bottom: 50px;
  font-family: "Optima";
}


.buttons3{
  position: absolute;
  margin-left: 20px;
  margin-top: 50px;
}
.btn1{
  background: #3F3D56;
  color: white;
  margin-left: 60px;
  padding: 10px;
  margin-top: -40px;
  border-radius: 10px;
}


.btn1:hover {
  color: #3F3D56;
  background: white;
}
.btn2{
  background: #3F3D56;
  color: white;
  margin-left: 30px;
  padding: 10px;
  margin-top: -40px;
  border-radius: 10px;
}

.btn2:hover {
  color: #3F3D56;
  background: white;
}



.last {
  margin-right: 50px;
}
.cardo{
  width: 250px;
  height: 370px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  margin-top: 40px;

  &:hover{
    transform: translateY(20px);
    &:before{
      opacity: 1;
    }
    .info{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(black, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }

  .info{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
  }
    h1{
      margin: 0px;
    }
    p{
      letter-spacing: 1px;
      font-size: 20px;
      margin-top: 8px;
    }
    button{
      padding: 0.6rem;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;
      &:hover{
        background: dodgerblue;
        color: white;
      }
    }
  }

.homepage-background {
  height: 110%;
  width: 110%;
}



