.banner {
  background-image: url("https://images.unsplash.com/photo-1518623001395-125242310d0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80");
  background-size: cover;
  background-position: center;
  opacity: 0.8;

}

.card {
  background-color:white;
  opacity: 0.7;
}
.banner h3 {
font-family: "Helvetica";
color: white;
text-align:center;
font-weight: bold;
padding-top: 30px;
padding-bottom: 30px;
}



.card-body{
text-align: center;
}

.card-body p{
text-align: center;
font-size: 25px;
font-weight: bold;
}

.font {
  font-size: 22px;
  color: black;
  justify-content:center;
  text-align: center;
}
.font a{
  font-size: 22px;
  color: black;
}
.collapse{
  justify-content: center;
  font-size: 20px;
  color:black;
}

.card-header{
justify-content:center;
  text-align: center;

}
.btn11{
    background: white;
    color: #3F3D56;
    margin-left: 340px;
    padding: 15px;
    border-radius: 10px;

    margin-bottom: 20px;
  }
