.banner {
  background-image: url("https://images.unsplash.com/photo-1518623001395-125242310d0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80");
  background-size: cover;
  background-position: center;
  display: grid;
}
.banner h3 {
font-family: "Optima";
color: white;
text-align:center;
font-weight: bold;
padding-top: 30px;
padding-bottom: 30px;
}

.accordion{
opacity: 0.8;
background: #3F3D56;
}

.card-body{
text-align: center;
}

.font {
  font-size: 22px;
  font-color: black;
  justify-content:center;
  text-align: center;
}
.font a{
  font-size: 16px;
}
.collapse{
  justify-content: center;
}
.card-header{
justify-content:center;
  text-align: center;

}
.btn11{
    background: white;
    color: #3F3D56;
    margin-left: 150px;
    padding: 15px;
    border-radius: 10px;

    margin-bottom: 20px;
  }
