
.professionals {
  h5{
    font-size: 20px;
    text-align:center;
    padding-top:10px;
    padding-bottom: 10px;
  }

  .contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    margin: 5px;
    background-color: #3F3D56;
  }

  .card-trip1 {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 5px;
    width: 370px;
    height: 670px;
  }



  .infy1{
    padding-top: 30px;

  }

  .infy1 h4{
    text-align: center;
    padding-bottom: 10px;
    font-family: Helvetica;
    margin-top: -10px;
  }
  .infy1 p{

    font-family: Helvetica;
    margin-top: -20px;
    font-size:16px;

    text-align:center;
  }

  .infy1 li{
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .cards .cards--two .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }

  .card1__collection .cards{
    margin: 30px;
  }


  .formy {
    margin-top: -20px;
    margin-left: 20px;
  }
  .formy1 {
    margin-top: 15px;
    margin-left: 20px;
  }



body {
    margin: 0;
    padding: 0;
    background: 250008;
    font-family: sans-serif;
}
.carders {


    transform: translate(-50%,-50%);
    width: 380px;
    height: 400px;

    background: #000;
    margin-left: 180px;
    margin-top: 200px;


}
.carders .image {
    width: 380px;
    height: 400px;
    overflow: hidden;
}
.carders .image img {
    width: 380px;
    height: 400px;
    transition: .5s;

}
.carders:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.carders .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #ffc107;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.carders:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.carders .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.carders .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.carders .details .center h1 span {
    font-size: 14px;
    color: #262626;
    text-align: center;
}
.carders .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    text-align: center;
}
.carders .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
    text-align: center;
}
.carders .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
    text-align: center;

}
.carders .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.carders .details .center ul li a:hover {
    background: #ff3636;
}
.formy-date {
  border-radius: 7px;
  width: 150px;
}
.formy1-mess{
  border-radius: 7px;
  width: 200px;
}
.btn22{
  background: #3F3D56;
  color: white;
  margin-left: 150px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;

}

.btn22:hover {
  color: #3F3D56;
  background: white;
  font-weight: bold;
  border-color: #3F3D56;
  text-decoration: none;
}
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}
}
