@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");



.card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 5px;
    width: 69%;
    padding-left: 10px;
  }

.card-triper {
    overflow: hidden;
    background: white;
    box-shadow:4px 4px 4px 4px #FF8978;
    margin: 5px;
    width: 129%;
    padding: 10px;
    height: 480px;
    margin-top: 30px;
  }
  .card-trip > img {
    height: 300px;

    object-fit: cover;
  }

  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-triper h5{
  font-style: "Optima";
  color: #3F3D56;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 25px;
  font-size: 25px;
  }

  .card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    text-align: center;
  }

  .card-triper p {
    font-size: 20px;
    padding-top: 20px;
    margin: 10px;

  }
.card-imag1{
  margin-right: -320px;

  opacity: 0.8;
  margin-top: -60px;
  margin-right: -40px;

}

.card-imag4{

  margin-top: 10px;
  opacity: 0.8;
}

.banner {
  justify-content: center;
  background: linear-gradient(150deg,#fff 15%,#fff 40%,#FF9F92 174%);

}
.cardy {
  margin-top: 20px;
}
.cardss {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  color: #FF8978;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
}
.card-cats{
  background-size: cover;
  background-position: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  width: 320px;
  height: 400px;
  float: left;
  position: relative;
  border-radius: 20px;
  margin-top: 10px
}

.cards-cats h3 {
  color: white;
  font-size: 16px;
}
.dev h1{
  text-align: center;
  color: #3F3D56;
  margin-top: 20px;
}

.dev p{
  text-align: center;
  color: #3F3D56;
}
.dev1{
  box-shadow: 0 0 8px #FF8978;
  border-width: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.dev1 h6{
    font-size: 22px;
    color: white;
  }

.dev1 p{
  font-size: 18px;
  padding-top: 20px;
  font-size: 18px;
  padding-top: 15px;
  color: white;
  font-family: "Optima";
}

.cardy-img {
    padding-left: 150px;
    padding-top: 35px;
}

.button {
  background-color: #3F3D56;
  padding: 10px;
  padding-bottom: 10px;
  margin-left: 400px;
  padding-left: 20px;
  color: white;
  text-decoration: none;

}
.cards .cards--two{
  width: 350px;
  height: 450px;

}


.cards .cards--two .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card__collection .cards{
  margin: 30px;
}

.buttons5{

  position: absolute;
  margin-left: 750px;
  margin-top: 40px;
  padding: 12px;
  border-radius: 10px;

}

.buttons5:hover {
  background: #FF8978;
  color:white;
}

.buttons6{
  background: #3F3D56;
  position: absolute;
  margin-left: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 10px;
  color:white;
  font-weight: bold;
  font-size: 18px;
}
.buttons6:hover {
  background: #FF8978;
  color:black;
}


.infy{
  padding-top: 40px;
}
.my-custom-scrollbar {
position: relative;
height: 430px;
overflow: auto;
margin-bottom: 60px;

}
.text{
  color: white;
  font-size: 22px;
  margin-bottom: 160px;
  margin-top: -60px;
  font-style: Optima;
}

.table-wrapper-scroll-y {
display: block;

}

.infy h4{
  text-align: center;
  padding-bottom: 10px;
}

.infy h6{
  font-size: 18px;
}

.infy li{
  padding-top: 10px;
  padding-bottom: 10px;
}

.fab{

  color: #3F3D56;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix:after {
  display: block;
  clear: both;
  content: '';
}

.img-responsive {
  height: 550px;
  width: 370px;

}

.card__collection {
    position: relative;
    display: block;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
    overflow: hidden;
    background-color:white;
    width: 1590px;




  .cards {
      width: 300px;
      height: 400px;
      display: block;
      background-size: cover;
      float: left;
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      background-position: center;
      margin: 10px;
      color: black;
  }
}


.btn22{
  background: #3F3D56;
  color: white;
  margin-left: 150px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;

}

.btn22:hover {
  color: #3F3D56;
  background: white;
  font-weight: bold;
  border-color: #3F3D56;
  text-decoration: none;
}



