
<div class="d-flex bd-highlight back">
  <div class="p-2 flex-grow-1 bd-highlight"><h1><strong>JobSwitchers</strong></h1></div>
  <a href="" class="p-2 bd-highlight"><strong>About us</strong></a>
  <a href="" class="p-2 bd-highlight"><strong>Tarifs</strong></a>
  <a href="" class="p-2 bd-highlight"><strong>Sign in</strong></a>
  <a href="" class="p-2 bd-highlight"><strong>Create your account</strong></a>

</div>
