
<div class="container">
  <div class="card__collection clear-fix">
    <div class="card-trip">
    <div class="back">
      <div class="cards cards--two">
        <img src="https://images-a.jpimedia.uk/imagefetch/f_auto,q_auto:low,c_fill/if_h_lte_200,c_mfit,h_201/https://www.yorkshirepost.co.uk/webimage/1.9493771.1544865625!/image/image.jpg" class="img-responsive" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <span class="cards--two__tri"></span>
          <p>Lucie Leclerq</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>
      <div class="infy">
      <h4><strong>Lucie Leclerq</strong></h4>
      <h6><strong>Job Description:</strong></h6>
          <li> Makes boots and shoes, using hand and machine tools: Makes patterns, using form of foot and pattern paper, and outlines patterns on leather</li>
          <li> May design and make women's fashion or custom shoes of materials, such as leather, fabric, and straw and be designated Custom-Shoe Designer And Maker</li>
           <div class="buttons6">
            <a href="" class="btn6"><strong>Chat with Lucie</strong></a>
          </div>
      </div>
    </div>
  </div>



  <div class="card__collection clear-fix">
    <div class="cards cards--two">
      <img src="https://images.unsplash.com/photo-1566259395063-9918b455734e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" alt="Cards Image">
        <span class="cards--two__rect"></span>
        <span class="cards--two__tri"></span>
          <p>Lucy Grace</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>


  <div class="card__collection clear-fix">
    <div class="cards cards--two">
      <img src="https://heymama.co/wp-content/uploads/2019/05/Adina-Reyter-Headshot-1.jpg" class="img-responsive" alt="Cards Image">
        <span class="cards--two__rect"></span>
        <span class="cards--two__tri"></span>
          <p>Lucy Grace</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>


  <div class="card__collection clear-fix">
    <div class="cards cards--two">
      <img src="https://images.unsplash.com/photo-1560453497-fdcb351a0c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" alt="Cards Image">
        <span class="cards--two__rect"></span>
        <span class="cards--two__tri"></span>
          <p>Lucy Grace</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>
</div>
