<div class="professionals">
  <div class="contain">

<div class="card1__collection clear-fix">
  <div class="card-trip1">
    <div class="back">
      <div class="cards cards--two">
        <img src="https://images-a.jpimedia.uk/imagefetch/f_auto,q_auto:low,c_fill/if_h_lte_200,c_mfit,h_201/https://www.yorkshirepost.co.uk/webimage/1.9493771.1544865625!/image/image.jpg" class="img-responsive" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <span class="cards--two__tri"></span>
          <p>Lucie Leclerq</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>

            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>
    <div class="infy1">
      <h4><strong>Lucie Leclerq - Bootmaker</strong></h4>
      <h6><strong>Job Description:</strong></h6>
         <div class="buttons7">
          <a href="orders_path" class="btn7"><strong>Chat with Lucie</strong></a>
        </div>
      </div>
      <label class="formy" for="Availability of Lucie"><strong>Availability of Lucie</strong></label>
      <input type="date">
      <label class="formy1" for="Message"><strong>Message</strong></label>
      <input type="text" placeholder="Write a message to Lucie">
      <a class="btnabc" href=""><strong>Send</strong></a>
    </div>
  </div>




<div class="card1__collection clear-fix">
  <div class="card-trip1">
    <div class="back">
      <div class="cards cards--two">
        <img src="https://images.unsplash.com/photo-1566259395063-9918b455734e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" class="img-responsive" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <span class="cards--two__tri"></span>
          <p>Maurice Campion</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>
    <div class="infy1">
      <h4><strong>Maurice Campion - Carpenter</strong></h4>
      <h6><strong>Job Description:</strong></h6>
         <div class="buttons7">
            <a href="" class="btn7"><strong>Chat with Maurice</strong></a>
          </div>
      </div>
      <label class="formy" for="Availability of Lucie"><strong>Availability of Maurice</strong></label>
      <input type="date">
      <label class="formy1" for="Message"><strong>Message</strong></label>
      <input type="text" placeholder="Write a message to Maurice">
      <a class="btn8" href=""><strong>Send</strong></a>
    </div>
  </div>


<div class="card1__collection clear-fix">
  <div class="card-trip1">
    <div class="back">
      <div class="cards cards--two">
        <img src="https://heymama.co/wp-content/uploads/2019/05/Adina-Reyter-Headshot-1.jpg" class="img-responsive" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <span class="cards--two__tri"></span>
          <p>Marie Condamino</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>
    <div class="infy1">
      <h4><strong>Marie Condamino - Jewelry Designer</strong></h4>
      <h6><strong>Job Description:</strong></h6>
         <div class="buttons7">
            <a href="" class="btn7"><strong>Chat with Marie</strong></a>
          </div>
      </div>
      <label class="formy" for="Availability of Lucie"><strong>Availability of Marie</strong></label>
      <input type="date">
      <label class="formy1" for="Message"><strong>Message</strong></label>
      <input type="text" placeholder="Write a message to Marie">
      <a class="btn8" href=""><strong>Send</strong></a>
    </div>
  </div>


  <div class="card1__collection clear-fix">
  <div class="card-trip1">
    <div class="back">
      <div class="cards cards--two">
        <img src="https://images.unsplash.com/photo-1560453497-fdcb351a0c55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <span class="cards--two__tri"></span>
          <p>Charlotte Bonefille</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>
    <div class="infy1">
      <h4><strong>Charlotte Bonefille - Florist</strong></h4>
      <h6><strong>Job Description:</strong></h6>
         <div class="buttons7">
            <a href="" class="btn7"><strong>Chat with Charlotte</strong></a>
          </div>
      </div>
      <label class="formy" for="Availability of Lucie"><strong>Availability of Charlotte</strong></label>
      <input type="date">
      <label class="formy1" for="Message"><strong>Message</strong></label>
      <input type="text" placeholder="Write a message to Charlotte">
      <a class="btn8" href=""><strong>Send</strong></a>
    </div>
  </div>
</div>
</div>




