
  <div class="card__collection clear-fix">
      <div class="card-trip d-flex">
        <div class="card-cats" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://leathercraftingschool.com/wp-content/uploads/2015/05/riding-boot-making-class-37.jpg)">
        </div>
        <div class="cards cards--two">
          <img src="https://images-a.jpimedia.uk/imagefetch/f_auto,q_auto:low,c_fill/if_h_lte_200,c_mfit,h_201/https://www.yorkshirepost.co.uk/webimage/1.9493771.1544865625!/image/image.jpg" class="img-responsive" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <span class="cards--two__tri"></span>
          <p>Lucy Grace</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>
      </div>
  </div>


 <div class="card__collection clear-fix">

        <div class="cards cards--two">
          <img src="https://images-a.jpimedia.uk/imagefetch/f_auto,q_auto:low,c_fill/if_h_lte_200,c_mfit,h_201/https://www.yorkshirepost.co.uk/webimage/1.9493771.1544865625!/image/image.jpg" class="img-responsive" alt="Cards Image">
          <span class="cards--two__rect"></span>
          <span class="cards--two__tri"></span>
          <p>Lucy Grace</p>
          <ul class="cards__list">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
          </ul>
        </div>

  </div>
