<div class="professionals">
  <h5>Congratulations! Your can now switch your job easily! <br> Get in touch with the profesionals through email 📩 or send them a message 💬 through our platform to get more details about the job</h5>
  <h5></h5>
  <div class="contain">

  <div class="card1__collection clear-fix">
    <div class="card-trip1">
      <div class="carders">
        <div class="image">
          <img src="https://www.embe.org/wp-content/uploads/2018/09/Allison-Sinning-web.jpg"/>
        </div>
        <div class="details">
          <div class="center">
            <h><strong>Lucie Leclerq</strong><br><span>Boots production Manager</span>
              <br><span>Company - <strong>Jones Bootmaker</strong></span><br><span>lucie@jones.com</span></h1>
              <ul>
                <li><img class="fb" src="https://image.flaticon.com/icons/svg/174/174848.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt=""></li>
                <li><img class="twit" src="https://image.flaticon.com/icons/svg/145/145812.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/174/174857.svg" alt=""></li>
              </ul>
          </div>
        </div>

        <div class="infy1">
          <h6><strong>Lucie Leclerq</strong> <br> Production Manager</h6>
        </div>
          <button type="button" class="btn26" data-toggle="modal" data-target="#exampleModal" data-whatever="">Send message</button>
        </div>
      </div>
    </div>



  <div class="card1__collection clear-fix">
    <div class="card-trip1">
      <div class="carders">
        <div class="image">
          <img src="http://parksoundstudio.com/images/dan-web.jpg"/>
        </div>
        <div class="details">
          <div class="center">
            <h1><strong>Maurice Campion</strong><br><span>Lead Carpenter</span>
              <br><span>Company - <strong>HDR Remodeling</strong></span><br><span>maurice@hdr.com</span></h1>
              <ul>
                <li><img class="fb" src="https://image.flaticon.com/icons/svg/174/174848.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt=""></li>
                <li><img class="twit" src="https://image.flaticon.com/icons/svg/145/145812.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/174/174857.svg" alt=""></li>
              </ul>
          </div>
        </div>
        <div class="infy1">
          <h6><strong>Maurice Campion</strong> <br> Lead Carpenter</h6>
        </div>
          <button type="button" class="btn26" data-toggle="modal" data-target="#exampleModal" data-whatever="">Send message</button>
        </div>
      </div>
    </div>




  <div class="card1__collection clear-fix">
    <div class="card-trip1">
      <div class="carders">
        <div class="image">
          <img src="https://heymama.co/wp-content/uploads/2019/05/Adina-Reyter-Headshot-1.jpg"/>
        </div>
        <div class="details">
          <div class="center">
            <h1><strong>Marie Condamino</strong><br><span>Jewelry Designer</span>
              <br><span>Company - <strong>Creative Choices - Jewellery</strong></span><br><span>marie@creativechoices.com</span></h1>
              <ul>
                <li><img class="fb" src="https://image.flaticon.com/icons/svg/174/174848.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt=""></li>
                <li><img class="twit" src="https://image.flaticon.com/icons/svg/145/145812.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/174/174857.svg" alt=""></li>
              </ul>
          </div>
        </div>
        <div class="infy1">
          <h6><strong>Marie Condamino</strong> <br> Jewelry Designer</h6>
        </div>
          <button type="button" class="btn26" data-toggle="modal" data-target="#exampleModal" data-whatever="">Send message</button>
        </div>
      </div>
    </div>



  <div class="card1__collection clear-fix">
    <div class="card-trip1">
      <div class="carders">
        <div class="image">
          <img src="https://www.handsup.lu/images/cache/758_cropped_500_500_90_546e0d4b63627_fleuriste.jpg"/>
        </div>
        <div class="details">
          <div class="center">
            <h1><strong>Charlotte Bonefille</strong><br><span>Floral Designer</span>
              <br><span>Company - <strong>Get Ya Lilies</strong></span><br><span>charlotte@getyalilies.com</span></h1>
              <ul>
                <li><img class="fb" src="https://image.flaticon.com/icons/svg/174/174848.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt=""></li>
                <li><img class="twit" src="https://image.flaticon.com/icons/svg/145/145812.svg" alt=""></li>
                <li><img class="inst" src="https://image.flaticon.com/icons/svg/174/174857.svg" alt=""></li>
              </ul>
          </div>
        </div>
         <div class="infy1">
          <h6><strong>Charlotte Bonefille</strong> <br> Floral Designer</h6>
        </div>

        <button type="button" class="btn26" data-toggle="modal" data-target="#exampleModal" data-whatever="">Send message</button>
        </div>
      </div>
    </div>




  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Eg: Lucie Leclerq">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" placeholder="Write a message to Lucie to know more about the job"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn31" data-dismiss="modal">Close</button>
        <button type="button" class="btn31"><%= link_to 'Send message', professionals_path(flash_alert: "Your message is succesfully sent")%></button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<% flash.now[:alert] = params[:flash_alert] if params[:flash_alert] %>




