<h1>Program - Tech</h1>

<h6>Jobs below suit your personality and we give you an opportunity to contact the professionals</h6>

<p>Pay to unlock the details of the jobs </p>

<div class="cards">
  <div class="card-category">
    <%= job_title.name %>
  </div>
  <div class="card-category">
    <%= job_title.name %>
  </div>
  <div class="card-category">
    <%= job_title.name %>
  </div>
  <div class="card-category">
    <%= job_title.name %>
  </div>

</div>
