.banner {
  background-size: cover;
  width: 100% !important;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.form-login {
  background:#f4f4f4;
  padding: 10px 20px 10px 20px;
  margin-top: 60px;
  margin-bottom: 70px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  font-family: 'Optima';
  height: 75%;
  opacity: 0.9;
}
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Optima';
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 3em;
    border: .25em solid transparent;
    border-radius: 1em;
    background: linear-gradient(to right, #0867a6, #4aa9e8) border-box;

  }



