.navbar{
  background-color: #FFC107;

  flex-grow: 0;

}

.navbar h1{
color: #3F3D56;

}
.p-2 {
  color: #3F3D56;
  margin-right: 30px;
  display: flex;
  font-size: 20px;
  padding-top: 10px;
}

.navbar-nav {
  color: #3F3D56;
  padding-left: 60px;
  display: flex;
  font-size: 22px;
  padding-top: 10px;
  font-family: "Optima";
  font-weight: bold;

}

.navbar-collapse {
  flex-grow: 0 !important;
}



